/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 0%;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


h4 {
  position: relative;
}

//.grid {
//  margin: 0;
//}
.col-1-4 {
  width: 25%;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.sidenav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  float: left;
  padding-top: 0px;
}

.space-block {
  background-color: white;
  padding: 3px;
  margin: 3px;
  height: 100%;
}

.spaceb {
  width: 80%;
  float: right;
}

.space-container {
  background-color: #F5F5F5;
  width: 100%;
  max-width: 100%;
}

.col-1-2 {
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.space-button {
  margin: 10px;
  padding-bottom: 5px
}

.gray-c {
  background-color: #F5F5F5;
}

.white-c {
  background-color: white;
}

.selected {
  background-color: #00cc33;
}

.n-selected {
  background-color: #80ff9f;
}

.img-block {
  width: 90%;
  height: 200px;
  background-color: #F5F5F5;
  margin-left: 5%;
}

.blue-c {
color: #336699;
}

.left {
float: left;
}

.pm {
padding: 5px 5px;
}

.name-title {
bottom: 0;
width: 100%;
}

.center {
width: 100%;
}

.pma {
padding: 1pc;
margin: 0 0.5pc;
}

#prs {
padding-right: 10px !important;
}

#prs1 {
padding-right: 10px !important;
}

.desc {
  margin: 10px;
}
.wid {
  width: 100%;
}

@media (max-device-width: 700px) {
  div.pma {
    padding: 0;
    margin: -2pc;
  }
}

@media (max-width: 700px) {
  div.pma {
    padding: 0;
    margin: -2pc;
  }
}
