<div class="container space-container">
  <div class="sidenav grid-box gray-c">
    <div class="pma">
      <p align="left">
        <b>Filters</b>
      </p>
      <p align="left">
        Launch Year
      </p>
      <hr>
      <div class="container white-c">
        <div *ngFor="let year of this.years; let i = index">
          <div *ngIf="i % 2 === 0" class="row">
            <button class="col-1-3 desc pmc" *ngIf="years[i]"
                    [ngClass]="launchYear === years[i] ? 'selected' : 'n-selected'"
                    (click)="onChangeYear(year)">{{years[i]}}</button>
            <button class="col-1-3 desc pmc prc" *ngIf="years[i+1]"
                    [ngClass]="launchYear === years[i+1]  ? 'selected' : 'n-selected'"
                    (click)="onChangeYear(year)">{{years[i + 1]}}</button>
          </div>
        </div>
      </div>
      <p align="left">
        Successful Launch
      </p>
      <hr>
      <div class="row white-c">
        <button [ngClass]="launchSuccess ? 'selected': 'n-selected'" class="col-1-2 space-button"
                (click)="onChangeLaunch(true)">True
        </button>
        <button id="prs1" [ngClass]="!launchSuccess ? 'selected': 'n-selected'" class="col-1-2 space-button prs"
                (click)="onChangeLaunch(false)">False
        </button>
      </div>
      <p align="left">
        Successful Landing
      </p>
      <hr>
      <div class="row white-c">
        <button [ngClass]="landSuccess ? 'selected': 'n-selected'" class="col-1-2 space-button"
                (click)="onChangeLanding(true)">True
        </button>
        <button id="prs" [ngClass]="!landSuccess ? 'selected': 'n-selected'" class="col-1-2 space-button"
                (click)="onChangeLanding(false)">False
        </button>
      </div>
    </div>
  </div>

  <div class="grid grid-pad spaceb gray-c">
    <div class="container">
      <h2 align="left">SpaceX Launch programs</h2> <!-- container centers content on large screens -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let program of this.filteredProg">
          <div class="grid-box space-block">
            <div class="img-block">
              <img src="{{program.links.mission_patch}}" width="100%" height="100%" alt="{{program.mission_name}}">
            </div>
            &nbsp;
            <h5 class="blue-c desc">{{program.mission_name}} # {{program.flight_number}}</h5>
            <div class="desc">
              <b class="left pm wid">Mission IDs</b>
              <ul *ngFor="let mission of program.mission_id">
                <li class="blue-c">{{mission}}</li>
              </ul>
              <br *ngIf="!program.mission_id.length">
              <br *ngIf="!program.mission_id.length">
              <b class="left pm">Launch Year: </b>
              <div class="blue-c pm">{{program.launch_year}}</div>
              <b class="left pm">Successful Launch: </b>
              <div class="blue-c pm">{{program.launch_success}}</div>
              <b class="left pm">Successful Landing: </b>
              <div class="blue-c pm">{{program.rocket.first_stage.cores[0].land_success}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!filteredProg.length">
        <b>No space programs available for {{this.launchYear}} with successful launch: {{this.launchSuccess}} and
          successful landing: {{this.landSuccess}}</b>
      </div>
      <div class="row name-title">
        <p class="center" align="center">Developed by Ashwini</p>
      </div>
    </div>
  </div>
</div>

